<main>
  <h1>Liste des articles</h1>
  <div class="content">
    <nav>
      <button title="Rafraîchir">
        <fa-icon [icon]="faRotateRight"></fa-icon>
      </button>
      <a routerLink="add" class="button" title="Ajouter">
        <fa-icon [icon]="faPlus"></fa-icon>
      </a>
      @if (selectedArticles.size > 0) {
      <button title="Supprimer" (click)="remove()">
        <fa-icon [icon]="faTrashCan"></fa-icon>
      </button>
      }
    </nav>
    <div class="error"></div>
    <table>
      <thead>
        <tr>
          <th class="name">Nom</th>
          <th class="price">Prix</th>
          <th class="qty">Quantité</th>
        </tr>
      </thead>
      <tbody>
        @for (a of articleService.articles; track a.id) {
        <tr (click)="select(a)" [class.selected]="selectedArticles.has(a)">
          <td class="name">{{ a.name }}</td>
          <td class="price number">{{ a.price }} €</td>
          <td class="qty number">{{ a.qty }}</td>
        </tr>
        } @empty {
        <tr>
          <td colspan="3">
            <div class="empty">Aucun articles... 😥</div>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</main>
