<main>
  <h1>Liste des articles</h1>
  <div class="content">
    <nav>
      <app-async-btn
        [icon]="faRotateRight"
        label="Rafraîchir"
        [action]="refresh.bind(this)"
        (throwError)="setError($event)"
        (startAction)="resetError()"
      ></app-async-btn>
      <a routerLink="add" class="button" title="Ajouter">
        <fa-icon [icon]="faPlus"></fa-icon>
      </a>

      @if (selectedArticles.size > 0) {
      <app-async-btn
        [icon]="faTrashCan"
        label="Supprimer"
        [action]="remove.bind(this)"
        (throwError)="setError($event)"
        (startAction)="resetError()"
      ></app-async-btn>
      }
    </nav>
    <div class="error">
      {{ errorMsg }}
    </div>
    <table>
      <thead>
        <tr>
          <th class="name">Nom</th>
          <th class="price">Prix</th>
          <th class="qty">Quantité</th>
        </tr>
      </thead>
      <tbody>
        @if (articleService.articles === undefined) {
        <tr>
          <td colspan="3">
            <div class="loading">
              <fa-icon [icon]="faCircleNotch" [spin]="true"></fa-icon>
              <span>Chargement des articles...</span>
            </div>
          </td>
        </tr>
        } @else { @for (a of articleService.articles; track a.id) {
        <tr (click)="select(a)" [class.selected]="selectedArticles.has(a)">
          <td class="name">{{ a.name }}</td>
          <td class="price number">
            {{ a.price | currency : "EUR" : "symbol" : undefined : "fr-BE" }}
          </td>
          <td class="qty number">{{ a.qty }}</td>
        </tr>
        } @empty {
        <tr>
          <td colspan="3">
            <div class="empty">Aucun articles... 😥</div>
          </td>
        </tr>
        } }
      </tbody>
    </table>
  </div>
</main>
