<main>
  <h1>Mentions Légales</h1>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis provident
    similique nemo odit. Recusandae culpa sequi nulla corporis eum. Aut
    consequuntur et veritatis numquam sunt doloremque! Dolore aliquam laudantium
    alias?
  </p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque fugiat
    possimus voluptatibus reiciendis porro optio rem at totam ducimus placeat
    modi earum impedit laboriosam, voluptates maiores quaerat ipsum, quidem
    quasi atque molestiae repellendus consequuntur saepe. Aspernatur earum fugit
    soluta fuga neque ullam, perferendis sequi debitis in necessitatibus.
    Laudantium, voluptatibus. Quam odit provident, dolorem, placeat, veritatis
    est sit inventore commodi facilis eaque voluptates! Tempora corrupti
    aspernatur aperiam adipisci quae facere voluptatem, quo, dolores qui
    possimus consequatur consectetur harum exercitationem nemo laborum
    reiciendis eos officiis hic sapiente quam culpa impedit maiores, magnam
    architecto! Harum error numquam illo, exercitationem asperiores totam
    aspernatur et.
  </p>
</main>
