@use "../node_modules/normalize.css/normalize.css";

@use "./scss/button.scss";

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

main {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 0.5em;

  width: 100%;
  max-width: 100ch;
  margin: 0 auto;
  padding: 0.5em;

  p {
    width: 100%;
  }

  h1 {
    text-align: center;
  }
}
